<div class="cheat-sheet-wrapper content-wrapper">
    <div class="cheat-sheet-title">
        <div class="left-side">
            <h1>
                Codekamp Web Editie:
            </h1>
        </div>
        <div class="right-side">
           <div class="new-project-button-wrapper">
              <a id="new-project-button" class="feature-button" href="/{{ locale }}/projects/new" title="{{ gettext("newProjectBtnTitle") }}" class="button">
                <div class="pencil-animation">
                  <div class="line-wrapper">
                    <div class="line line-one"></div>
                    <div class="line line-two"></div>
                    <div class="line line-three"></div>
                  </div>
                  <div class="pencil"></div>
                </div>
                <span id="new-project-button-text">{{ gettext("newProjectBtn") }}</span>
              </a>
            </div>
        </div>
    </div>
    <div class="camp-subjects">
        <div class="camp-subject">
            <h2 class="camp-subject-title">
                HTML
                <br>
                Spiekbriefje
            </h2>
            <ul class="subject-list">
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/skelet.html" target="_blank">
                        HTML skelet
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/tekst.html" target="_blank">
                        Tekst op je website zetten
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/links-andere-website.html" target="_blank">
                        Links maken naar andere websites
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/video-insluiten.html" target="_blank">
                        Een video op je website zetten (insluiten)
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/plaatje.html" target="_blank">
                        Een plaatje op je website zetten
                    </a>
                </li>
            </ul>
        </div>
        <div class="camp-subject">
            <h2 class="camp-subject-title">
                HTML
                <br>
                Oefeningen
            </h2>
            <ul class="subject-list">
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/297058" target="_blank">
                        HTML Oefening 1: <br>
                        Oma's poffertjes
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/297369/" target="_blank">
                        HTML Oefening 2: <br>
                        Debug it!
                    </a>
                </li>
            </ul>
        </div>
        <div class="camp-subject">
            <h2 class="camp-subject-title">
                CSS
                <br>
                Spiekbriefje
            </h2>
            <ul class="subject-list">
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/hoe-werkt-css.html" target="_blank">
                        Hoe werkt css?
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="http://hosted.bomberbot.com/bomberbot/25/tekstkleur.html" target="_blank">
                        Tekst kleur, grootte of lettertype veranderen
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/297793" target="_blank">
                        Een achtergrond kleur of achtergrond plaatje instellen
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/309366" target="_blank">
                        Iets in het midden zetten
                    </a>
                </li>
            </ul>
        </div>
        <div class="camp-subject">
            <h2 class="camp-subject-title">
                CSS <br>
                Oefeningen
            </h2>
            <ul class="subject-list">
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/297649" target="_blank">
                        Oefening 1: <br>
                        Pas de CSS aan
                    </a>
                </li>
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/297806" target="_blank">
                        Oefening 2: <br>
                        CSS Debug it!
                    </a>
                </li>
            </ul>
        </div>
        <div class="camp-subject">
            <h2 class="camp-subject-title">
                Javascript <br>
                Voorbeelden
            </h2>
            <ul class="subject-list">
                <li class="subject-list-item">
                    <a href="https://thimbleprojects.org/reinoptland/451099/" target="_blank">
                        JavaScript Demo
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- TODO: If we want the gallery for some reason we can just uncomment this-->
<!--<div class="gallery-wrapper">-->
  <!--<div class='gallery loading'>-->

    <!--<div class="search-header">-->
      <!--<h2 class='title'>-->
        <!--{{ gettext("remixGalleryTitle") }}-->
      <!--</h2>-->

      <!--<div class='search-wrapper'>-->
        <!--<div class='search-wrapper-outer'>-->
          <!--<span class='search-tags'></span>-->
          <!--<input class='search' placeholder='{{ gettext("gallerySearchPlaceholder") }}' type='text' />-->
          <!--<div class='icon search-icon'></div>-->
          <!--<div title='{{ gettext("clearSearchTerm") }}' class='clear icon clear-icon'></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class='popular-tags'>-->
      <!--<span class='tags-title'></span>-->
      <!--<span class='tag-list'></span>-->
    <!--</div>-->

    <!--<div class='loading-status'>-->
      <!--<span class='in-progress'>{{ gettext("projectLoadingInProgress") }}</span>-->
      <!--<span class='failure'>{{ gettext("projectLoadingError") | safe }}</span>-->
    <!--</div>-->

    <!--<div class='activities'>-->
      <!--&lt;!&ndash; Placeholder activity cards until real projects load &ndash;&gt;-->
      <!--<div class='activity'></div>-->
      <!--<div class='activity'></div>-->
      <!--<div class='activity'></div>-->
      <!--<div class='activity'></div>-->
      <!--<div class='activity'></div>-->
      <!--<div class='activity'></div>-->
    <!--</div>-->

    <!--<div class='no-results-message'>-->
      <!--<h1>{{ gettext("noResultsTitle") }}</h1>-->
      <!--<p>{{ gettext("noResultsText") | safe }}</p>-->
    <!--</div>-->

    <!--&lt;!&ndash; Activity template cloned by gallery.js &ndash;&gt;-->
    <!--<div class='activity activity-template'>-->
      <!--<div class='thumbnail'>-->
        <!--<div class='thumbnail-overlay'>-->
          <!--<a class='view-project'>{{ gettext("viewProject") }} </a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class='details'>-->
        <!--<a class='project-title'></a>-->
        <!--<p class='author'>{{ gettext("byAuthor") }} <a href='#'></a></p>-->
        <!--<p class='description'></p>-->
        <!--<div class='tags'></div>-->
      <!--</div>-->
      <!--<div class='buttons'>-->
        <!--<a class="remix">{{ gettext("remix") }}</a>-->
        <!--<a class="teaching-kit">{{ gettext("lessonPlan") }}</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--<p class="contribute-activity">-->
      <!--{{ gettext("submitProject") | safe }}-->
    <!--</p>-->

  <!--</div>-->
<!--</div>-->


